<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Jn_CustomerCar::customercar"
            title="Customer Car"
            translate="title"
            module="Jn_CustomerCar"
            resource="Jn_CustomerCar::plate"
            parent="Magento_Customer::customer"
            sortOrder="900"
        />
        <add
            id="Jn_CustomerCar::plate"
            title="Plate"
            translate="title"
            module="Jn_CustomerCar"
            resource="Jn_CustomerCar::plate"
            parent="Magento_Customer::customer"
            action="customercar/plate"
        />
    </menu>
</config>
